.movie-card {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
	text-align: center;
	max-width: 300px;
	display: inline-block;
}
