.movie-card {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
	text-align: center;
	max-width: 250px;
	display: inline-block;
}

.movie-card .movie-poster {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.movie-card .movie-title {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	color: rgba(0, 0, 0, 1);
	text-overflow: ellipsis;
}

.movie-card .movie-plot {
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(0, 0, 0, 1);
	text-align: justify;
}
